.list {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.list {
  li {
    width: calc((100% - 40px) / 5);
    padding: 5px 0;
    border: 1px solid darkgray;
    border-radius: 15px;
  }
}