.list {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.list {
  li {
    cursor: pointer;
    width: calc((100% - 40px) / 5);
    padding: 5px 0;
    background-color: #e3edf7;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0);
  }
}